<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="js/handlebars-v3.0.3.js"></script>


<script type="text/x-handlebars-template" id="template">
{{#each rows}}
 
<a href="javascript:loadIframe('{{puntos}}')" data-puntos="">
<div class="sgp-productor row"  data-puntos="">

<div class="col-sm-4">
<img src="{{ruta}}">
</div>

<div class="col-sm-8">

<h3> {{nombres}}</h3>

 
<h4 class="sgp-ubicacion"> #{{departamento}}, #{{provincia}} , #{{distrito}} 
</h4>

 


 
<p class="sgp-cultivos">

<label>  {{cultivo1}} </label>
<label>  {{cultivo2}} </label>
<label>  {{cultivo3}} </label>
<label>  {{cultivo4}} </label>
 
  
</p>

 
  

  
   <p class="sgp-venta">

 {{lugar_de_venta}}
   </p>


 
</div>

</div>
</a>


{{/each}}
</script>

<script type="text/javascript">


 jQuery(function(){


 var stemplate = $("#template").html();
 var tmpl = Handlebars.compile(stemplate);

 var ctx = {};
ctx.rows = [{  
   "dni":"123434567",
   "nombres":"juan matias morales sampe",
   "paterno":"morales",
   "materno":"sampe",
   "cultivo_1":null,
   "cultivo_2":null,
   "cultivo_3":null,
   "cultivo_4":null,
   "lugar_de_venta":null,
   "puntos":"%5B%5B-12.386952336673138%2C-74.45915222167969%5D%2C%5B-12.503621207746876%2C-74.56214904785156%5D%2C%5B-12.511665400971019%2C-74.15702819824219%5D%5D",
   "departamento":"MOQUEGUA",
   "provincia":"GENERAL SANCHEZ CERRO",
   "distrito":"GENERAL SANCHEZ CERRO",
   "ruta":"http:\/\/127.0.0.1\/sgpteam\/uploads\/fotosproductores\/123434567_thumb.jpg"
},
{  
   "dni":"42864625",
   "nombres":"renee morales calhua",
   "paterno":"morales",
   "materno":"calhua",
   "cultivo_1":"arroz",
   "cultivo_2":"palta debil",
   "cultivo_3":"chirimoya",
   "cultivo_4":"maiz morado",
   "lugar_de_venta":"swsw",
   "puntos":"%5B%5B46.52863469527167%2C-75.60791015625%5D%2C%5B42.13082130188811%2C-77.36572265625%5D%2C%5B42.58544425738491%2C-68.92822265625%5D%2C%5B46.800059446787316%2C-69.36767578125%5D%5D",
   "departamento":"PIURA",
   "provincia":"TALARA",
   "distrito":"MANCORA",
   "ruta":"http:\/\/127.0.0.1\/sgpteam\/uploads\/fotosproductores\/42864625_thumb.jpg"
},
{  
   "dni":"12345678",
   "nombres":"arturo dias coleto",
   "paterno":"dias",
   "materno":"coleto",
   "cultivo_1":"arroz",
   "cultivo_2":"platano",
   "cultivo_3":null,
   "cultivo_4":null,
   "lugar_de_venta":"El mercado de la merced puesto numero #45",
   "puntos":"",
   "departamento":"MADRE DE DIOS",
   "provincia":"MANU",
   "distrito":"HUEPETUHE",
   "ruta":"http:\/\/127.0.0.1\/sgpteam\/uploads\/fotosproductores\/default.jpg"
}
];  


html = tmpl(ctx);
$("#content").html(html);
$("#content").show();

 });
</script>

 <div id="content">

 HOLA
 </div>