.sgp-productor {
    display: block;
    border-bottom: dotted 2px #c8c8c8;
    width: 100%;
    padding: 10px 0px;
    -webkit-transition: all 0.31s ease-in-out;
    -moz-transition: all 0.31s ease-in-out;
    -o-transition: all 0.31s ease-in-out;
    transition: all 0.31s ease-in-out;
}
.sgp-contenido {
    margin-top: 20px;
}
.css_encabezado
{
font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px #d8d8d8;
    padding-bottom: 5px;
    
}
.sgp-titulo {
display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0px;
}
.paginacion
{
    padding: 0px !important;
    margin: 10px 0px;
}
.paginacion li
{
     display: inline-block;
      cursor: pointer;
       background-color: #d8d8d8;
       padding: 5px 5px;

}
 .paginacion li:hover
 {background-color: #275E8D;
    color: #fff;}
.ajax-parcelas
{

}
#modal-info-parcelas
{
    display: block;
    width: 100%;
    height: 100%;
     position: absolute;
     background-color: #000;
     opacity: 0.7;
     z-index: 1;
     left: 0px;
}
.col-centered{
    float: none !important;
    margin: 0 auto;
}
#modal-parcelas{
    position: absolute;
    width: 100%;
    height: 100%;
}

#modal-info-parcelas-content .cerrar
{
        background-color: #000;
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 3px 10px;
    margin-right: -15px;
}
#modal-info-parcelas-content
{
    display: block;
    z-index: 2;
    position: relative;
    width: 100%;
    margin-top: 10px;
 

}
#modal-info-parcelas-content  .titular
{
    background-color: #337AB7;
    padding-top: 5px;
    color: #fff;
    padding-bottom: 9px;
}

 #modal-info-parcelas-content .inner
 {
    background-color: #fff;
    border:solid 1px #000;
 }

.sgp .info-parcela
{
    margin: 10px 0px;
        margin-bottom: -1px;
    text-align: right;
}
.sgp .info-parcela a:hover
{color:#fff;
opacity: 0.8;}
.sgp .info-parcela a .info
{
    background-image: url(img/info.png);
    width: 20px;
    display: inline-block;
    vertical-align: top;
    height: 20px;
}
.sgp-nav {
    display: block;
    font-size: 22px;
    background-color: #b7d6dc;
    display: block;
    font-size: 22px;
    background-color: #b7d6dc;
    padding: 9px;
    border-bottom: solid 1px #6FC2D2;
    margin-bottom: 15px;

}
.sgp-nav a {} .sgp-contenido a {
    text-decoration: none;
    overflow: hidden;
    color: #000;
}
.sgp-nav  ul li{

    display: inline-block;

}
.sgp-nav  ul 
{    display: inline-block;
    margin-left: 40px;}
.sgp-nav  ul li a.active{
        text-decoration: underline;
    color: #337AB7;
}
.sgp-nav  ul li a{

        margin-right: 30px;
    padding: 3px;



}
.sgp-productor h3, .sgp-productor .sgp-cultivos, .sgp-productor .sgp-ubicacion, .sgp-productor .sgp-venta {
    padding: 0px;
    margin: 0px;
}

 .sgp-cultivos
 {margin: 10px 0px !important;}
.sgp-productor h3 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px;
    margin-bottom: 10px;
}
.sgp-productor:hover, .sgp-active {
    background-color: #ecf0f1;
    cursor: pointer;
    -webkit-transition: all 0.31s ease-in-out;
    -moz-transition: all 0.31s ease-in-out;
    -o-transition: all 0.31s ease-in-out;
    transition: all 0.31s ease-in-out;
}
.sgp-productor .sgp-venta {
    font-size: 12px;
    line-height: 120%;
    font-style: italic;
}
.sgp-productor:hover .sgp-cultivos label {
    background-color: #fff;
}
.sgp-productor .sgp-cultivos label {
    display: inline-block;
    background-color: #ededed;
    padding: 0px 8px;
    text-transform: uppercase;
    font-size: 10px;
}
.sgp-productor .sgp-ubicacion {
    font-size: 12px;
}
#sgp-iframe {
    min-height: 400px;
    border: none;
    width: 100%;
}

.sgp-productor select{    border: solid 1px #c8c8c8;
    padding: 5px;
}
.sgp  
 .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sgp  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
 .sgp  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 .sgp-logo
 {    color: #337AB7; text-shadow: 0px 1px 2px rgba(255, 255, 255, 1); font-size: 22px;
    display: inline-block;}